<h4>Schedule for <%= @staff_team.name %></h4>

<div class="row">
  <div id="calendar" class="col-xs-12"></div>
</div>
<script>

let options = {
  header: {
    left: 'prev,next',
    center: 'title',
    right: 'timelineDay'
  },
  titleFormat: "dddd, MMMM Do YYYY",
  defaultView: 'timelineDay',
  slotDuration: '00:30:00',
  events: <%= raw(@all_events.to_json) %>,
  resources: <%= raw(@resources.to_json) %>,
  eventRender: function(event, element) {
    if (event.staff_event) {
      element.addClass("staff_event");
    }
  },
};

setupFullCalendarOn("#calendar", '<%= managed_competition.start_date %>', 1, "default", options, false);

</script>
