<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit '<%= @round.name %>'</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', remote: true %>
      </div>
    </div>
  </div>
</div>
<script>
  // Init datetimepicker (it's done on page load, so this one is not initialized)
  initPickers();
</script>
