<% available_groups = available_groups&.map { |g| [g.name, g.id] } || [] %>
<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-left">
      <li><a href="#" class="action-move-to">Move selection to</a></li>
      <li><a href="#" class="action-reset">Reset changes for selection</a></li>
      <li><a href="#" class="action-submit">Submit changes</a></li>
    </ul>
  </div>
  <%= select_tag(:move_to, options_for_select(available_groups), class:"form-control input-group-number") %>
</div>
