<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-left">
      <li><a href="#" class="action-move-to">Move selection to</a></li>
      <li><a href="#" class="action-reset">Reset changes for selection</a></li>
      <li><a href="#" class="action-submit">Submit changes</a></li>
    </ul>
  </div>
  <input type="text" class="form-control input-group-number" placeholder="Group number">
</div>
