<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3 class="panel-title">Registration confirmation</h3>
  </div>
  <div class="panel-body">
    <p>Please confirm you will be attending by clicking the button below:</p>
    <%= button_to "Confirm your registration!", confirm_path, method: :patch, class: "btn btn-success"%>
  </div>
</div>
