<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Staff panel</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        You are in the following staff teams : <%= raw(staff_teams_to_links(@registration.staff_teams)) %>
      </div>
    </div>
  </div>
</div>
