<div class="container">
  <div class="row">
    <h3>Import</h3>
    From here you can import the WCIF for the competition.
    <p>Import registrations from WCA (requires you're logged in with the "manage_competitions" scope): <%= link_to icon('upload', "Import from WCA"), import_registrations_path(source: 'wca'), method: 'patch', class: 'btn btn-primary' %></p>
    <p>Import registrations from file (drop the wcif.json at the app's root): <%= link_to icon('upload', "Import from file"), import_registrations_path(source: 'file'), method: 'patch', class: 'btn btn-primary' %></p>
  </div>
</div>
