<h4><%= @registration.name %></h4>

<div class="row">
  <div id="calendar" class="col-xs-12"></div>
</div>
<script>

let options = {
  slotDuration: '00:15:00',
  events: '<%= registration_schedule_path(@registration, format: :json) %>',
  eventRender: function(event, element) {
    if (event.staff_event) {
      element.addClass("staff_event");
    }
  },
<% if current_user&.staff? %>
  eventClick: function(event, jsEvent, view) {
    $.getScript(event.show_url, function() {});
  },
<% end %>
}

setupFullCalendarOn("#calendar", '<%= managed_competition.start_date %>', '<%= managed_competition.number_of_days %>', "fullcomp", options, false);

</script>
