<style>
.fc-list-item-time {
  width: 3cm;
}
.row {
  width: 21cm;
}
</style>
<div class="row">
  <div class="col-xs-12">
    <div id="calendar"></div>
  </div>
</div>
<script>
var options = {
  contentHeight: 'auto',
  displayEventEnd: true,
  slotDuration: '00:15:00',
  eventRender: function(event, element) {
    if (event.staff_event) {
      element.addClass("staff_event");
    }
  },
  events: [
    <% @groups.each do |g| %>
        <%= raw(render('groups/groups_schedule_group.json.jbuilder', group: g)) %>,
  <% end %>
  ],
};

setupFullCalendarOn("#calendar", "<%= managed_competition.start_date %>", "<%= managed_competition.number_of_days %>", "fullcomp-list", options, false);

$('#calendar').ready(function (){
  $('#calendar').find('.fc-scroller').removeAttr("style");
});
</script>
