<style>
.name {
  margin-top: 0;
}
p {
  margin: 0;
}

.row {
  width: 42cm;
  margin-bottom: 1cm;
}

.title {
  margin-bottom: 0.1cm;
  font-weight: bold;
}

.col-people {
  float: left;
  width: 7cm;
  padding-left: 15px;
}
</style>
<% @groups.reject { |g| g.registrations.empty? }.in_groups_of(6) do |groups| %>
  <div class="row people-list">
    <% groups.compact.each do |g| %>
      <% title = raw("") %>
      <div class="col-people">
        <%= title %>
        <p class="title">
        <%= "#{Event.find(g.event_id).name} #{g.name} (#{array_to_s(g.staff_teams.first&.leaders || []).partition(" ").first})" %>
        <br/>
        <%= "#{g.start.strftime("%H:%M")} - #{g.end.strftime("%H:%M")}" %>
        </p>
        <% g.registrations.sort_by { |r| I18n.transliterate(r.name) }.each do |u| %>
          <p class="name"><%= u.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
