// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#groups-nav {
  // Space top and bottom
  margin: 10px 0 10px 0;
}

.icon-after::after {
  margin-left: 5px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
}

.alpha_desc::after {
  content: "\f15e";
}

.alpha_asc::after {
  content: "\f15d";
}

.num_desc::after {
  content: "\f163";
}

.num_asc::after {
  content: "\f162";
}

.row-all-existing-groups {
  /* Fix for group cell behavior */
  /* Each row-all-existing-groups has two elements: */
  /* the main panel, and the div with .may-clearfix */
  /* On medium/large screens, we want 4 groups per row, so we need to activate the */
  /* clearfix on the 4*2th element */
  /* 4 panels per row => 4*2th element */
  .may-clearfix:nth-child(8n) {
    @extend .visible-md-block;
    @extend .visible-lg-block;
    @extend .visible-sm-block;
    @extend .clearfix;
  }
  /* 2 panels per row => 2*2th element */
  .may-clearfix:nth-child(4n) {
    @extend .visible-xs-block;
    @extend .clearfix;
  }
}

#batch-size, #group-size {
  width: 60px;
}

.panel-dg {
  .badge {
    margin-bottom: 3px;
  }
  .search {
    position: relative;
    .glyphicon-remove-circle {
      position: absolute;
      right: 5px;
      top: 7px;
      height: 20px;
      margin: 0px;
      font-size: 20px;
      cursor: pointer;
      color: #AAA;
      &:hover {
        color: #888;
      }
    }
  }
  .list-people {
    min-height: 50px;
  }
}

// Leave this out for drag and drop
.list-group-item.registration-item {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  justify-content: space-between;
  .name {
    display: inline-block;
  }
  .events {
    display: inline-block;
  }
}

.row-all-groups {
  /* Fix for group cell behavior */
  /* Each row-all-groups has three elements: */
  /* the main panel, a script tag, the div with .may-clearfix */
  /* On medium/large screens, we want 4 groups per row, so we need to activate the */
  /* clearfix on the 4*3th element */
  /* 4 panels per row => 4*3th element */
  .may-clearfix:nth-child(12n) {
    @extend .visible-md-block;
    @extend .visible-lg-block;
    @extend .visible-sm-block;
    @extend .clearfix;
  }
  /* 2 panels per row => 2*3th element */
  .may-clearfix:nth-child(6n) {
    @extend .visible-xs-block;
    @extend .clearfix;
  }
}

.panel-groups {
  .search-cell {
    .search, input {
      height: 100%;
    }
  }

  th {
    .form-control {
      border: 0px;
    }
    .glyphicon-remove-circle {
      position: absolute;
      right: 5px;
      top: 10px;
      bottom: 0;
      height: 20px;
      margin: 0px;
      font-size: 20px;
      cursor: pointer;
      color: #AAA;
      &:hover {
        color: #888;
      }
    }
  }

  td {
    .new-group-number {
      @extend .text-warning;
      @extend .pull-right;
      font-weight: bold;
    }
  }

  table {
    margin-bottom: 0px;
  }
}
