$wca-logo-size: 50px;
$navbar-img-height: 32px;

.navbar {
  .avatar-thumbnail {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: -10px;
  }

  .signin-elem {
    padding: 8px;

    .btn-Worldcubeassociation {
      &::before {
        content: '';
        background-image: url(wca_logo.svg);
        background-position: center;
        background-size: cover;
        position: absolute;

        width: $wca-logo-size;
        height: $wca-logo-size;
        top: -($wca-logo-size - $navbar-img-height) / 2;
        left: 5px;
      }

      padding-left: $wca-logo-size + 10px;
      border: none;
      overflow: hidden;
      position: relative;
      background-color: rgb(48, 74, 150); // WCA logo blue
      color: white;
      &:hover {
        background-color: rgba(48, 74, 150, 0.8); // WCA logo blue
      }
    }
  }
}
