hr {
  border-color: black;
}

.div-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.confirm-btn {
  margin-right: 30px;
}

.form-group.guest {
  margin: 0;
  input.existing-record {
    display: none;
  }
}

.tshirt-radio {
  @extend .radio-inline;
  vertical-align: inherit;
}

.help-block.form-error {
  @extend .text-danger;
}

#add-row:hover {
  cursor: pointer;
}

.table > tbody > tr > td.action-cell {
  vertical-align: middle;
  a {
    float: left;
  }
  .delete-link {
    float: right;
  }
}

.cancel-link, .first-delete {
  display: none;
}

