<% if current_user&.can_manage_competition?(managed_competition) %>
  <ul class="nav navbar-nav">
    <li><%= link_to icon('bars', 'Registrations'), registrations_path %></li>
    <li><%= link_to icon('group', 'Groups'), groups_path %></li>
    <li><%= link_to icon('sitemap', 'Staff teams'), staff_teams_path %></li>
  </ul>
<% end %>
